[repeat num = $comment_num]
  [fetch_comment_id var = $comment_id]
  [if $comment_id ne '']
    [get_comment_data id = $comment_id;param = status;var = $status]
    <div class = "comment">
      <a name = "#comment_[get_comment_data id = $comment_id;param = no]"></a>
      [if $status eq 'approval']
        [get_comment_data id = $comment_id;param = no;var = $comment_no]
        <div class = "comment_title">
          <h3 class = "comment_title">[get param = $comment_no]:</h3>
          <p class = "comment_time">[get_comment_data id = $comment_id;param = date;var = $comment_date][cnv_date_str date = $comment_date;format = "{YYYY}年{MM}月{DD}日{WW}"] [get_comment_data id = $comment_id;param = time;var = $comment_time][cnv_time_str time = $comment_time;format = "{tt}{hh}時{mm}分{ss}秒"]</p>
          <p>[承認待ち]</p>
        </div>
        <div class = "comment_nodisp">
          <p>このコメントは現在承認待ちです。</p>
        </div>
      [/if]
      [if $status eq 'public']
        [include file = "template/comment_item_template.html"]
        [if $entry_comment ne disable]
          <form action = "[get param = this_cgi]" method = "get">
            <input type = "hidden" name = "mode" value = "comment_edit">
            <input type = "hidden" name = "parent_id" value = "[get param = $comment_id]">
            <input type = "submit" value = "このコメントに返信" class = "button">
          </form>
        [/if]
      [/if]
      [if $status eq 'private']
        [if login_type eq "guest"]
          [get_comment_data id = $comment_id;param = no;var = $comment_no]
          <div class = "comment_title">
            <h3 class = "comment_title">[get param = $comment_no]:</h3>
            <p class = "comment_time">[get_comment_data id = $comment_id;param = date;var = $comment_date][cnv_date_str date = $comment_date;format = "{YYYY}年{MM}月{DD}日{WW}"] [get_comment_data id = $comment_id;param = time;var = $comment_time][cnv_time_str time = $comment_time;format = "{tt}{hh}時{mm}分{ss}秒"]</p>
            <p>[非公開]</p>
          </div>
          <div class = "comment_nodisp">
            <p>このコメントは非公開です。</p>
          </div>
        [/if]
        [if login_type ne "guest"]
          [if $user_id eq login_user_id]
            [include file = "template/comment_item_template.html"]
          [/if]
          [if $user_id ne login_user_id]
            [get_comment_data id = $comment_id;param = no;var = $comment_no]
            <div class = "comment_title">
              <h3 class = "comment_title">[get param = $comment_no]:</h3>
              <p class = "comment_time">[get_comment_data id = $comment_id;param = date;var = $comment_date][cnv_date_str date = $comment_date;format = "{YYYY}年{MM}月{DD}日{WW}"] [get_comment_data id = $comment_id;param = time;var = $comment_time][cnv_time_str time = $comment_time;format = "{tt}{hh}時{mm}分{ss}秒"]</p>
              <p>[非公開]</p>
            </div>
            <div class = "comment_nodisp">
              <p>このコメントは非公開です。</p>
            </div>
          [/if]
        [/if]
      [/if]
      [if $status eq 'delete']
        [get_comment_data id = $comment_id;param = no;var = $comment_no]
        <div class = "comment_title">
          <h3 class = "comment_title">[get param = $comment_no]:</h3>
          <p class = "comment_time">[get_comment_data id = $comment_id;param = date;var = $comment_date][cnv_date_str date = $comment_date;format = "{YYYY}年{MM}月{DD}日{WW}"] [get_comment_data id = $comment_id;param = time;var = $comment_time][cnv_time_str time = $comment_time;format = "{tt}{hh}時{mm}分{ss}秒"]</p>
          <p>[削除済み]</p>
        </div>
        <div class = "comment_nodisp">
          <p>このコメントは削除されました。</p>
        </div>
      [/if]
    </div>
    
    [push param = $comment_id]
    [push param = $parent_id]
    [push_comment_list]
    [var_set var = $parent_id;param = $comment_id]
    [init_comment_list entry_id = $entry_id;parent_id = $parent_id;status = $status_cond]
    [get_comment_num var = $comment_num]
    [if $comment_num > 0]
      <div class = "comment_sub">
        [include file = "template/comment_tree_template.html"]
      </div>
    [/if]
    [pop_comment_list]
    [pop var = $parent_id]
    [pop var = $comment_id]
    [get_comment_num var = $comment_num]
  [/if]
[/repeat]
