<form action = "[get param = this_cgi]" method = "post">
  <input type = "hidden" name = "mode"      value = "comment_check" />
  <input type = "hidden" name = "id"        value = "[get_comment_data param = id]" />
  <input type = "hidden" name = "no"        value = "[get_comment_data param = no]" />
  <input type = "hidden" name = "parent_id" value = "[get_comment_data param = parent_id]" />
  <input type = "hidden" name = "user_id"   value = "[get param = login_user_id]" />
  <input type = "hidden" name = "entry_id"  value = "[get param = $entry_id]" />
  <div class = "form">
    <p>名前（必須）</p>
    <input type = "text" name = "name" size = "40" value = "[get_comment_data param = name]" />
  </div>
  <div class = "form">
    <p>メールアドレス（非公開）</p>
    <input type = "text" name = "mail" size = "40" value = "[get_comment_data param = mail]" />
  </div>
  <div class = "form">
    <p>URL</p>
    <input type = "text" name = "url" size = "80" value = "[get_comment_data param = url]" />
  </div>
  <div class = "form">
    <p>タイトル</p>
    <input type = "text" name = "title" size = "60" value = "[get_comment_data param = title]" />
  </div>
  <div class = "form">
    <p>本文（必須）<a href = "[get_blog_url mode = tag_list_show_comment]" target = "_blank">タグ一覧</a></p>
    <textarea name = "text" name = "text" rows = "5" cols = "50">[get_comment_data param = text;parse = 'none']</textarea>
  </div>
  <div class = "form">
    [get param = comment_name_mail_save;var = $save]
    <p><input type = "checkbox" name = "save" value = "enable" [if $save eq "enable"]checked[/if] /> Cookieに名前とメールアドレスを保存</p>
  </div>
  <div class = "form">
    <input type = "submit" name = "regist" value = "投稿" class = "button" />
    <input type = "submit" name = "check" value = "確認" class = "button" />
  </div>
</form>
