[get_comment_data id = $comment_id;param = no;var = $comment_no]

<div class = "comment_title">
  [get_comment_data id = $comment_id;param = title;var = $comment_title]
  <div class = "comment_admin_form"><input type = "checkbox" name = "comment_id" value = "[get param = $comment_id]"></div>
  <h3 class = "comment_title">
    [get param = $comment_no]:[if $status eq 'approval'][承認待ち][/if][if $status eq 'public'][公開][/if][if $status eq 'private'][非公開][/if][if $status eq 'delete'][削除済み][/if]
  </h3>
  <div class = "comment_admin_form">
    [if $status ne 'public']<input type = "submit" name = "public[get param = $comment_id]"  value = "公開する"     class = "comment_admin_button">[/if]
    [if $status ne 'private']<input type = "submit" name = "private[get param = $comment_id]" value = "非公開にする" class = "comment_admin_button">[/if]
    [if $status ne 'delete']<input type = "submit" name = "delete[get param = $comment_id]"  value = "削除する"     class = "comment_admin_button">[/if]
  </div>
  <h3 class = "comment_title">
    [if $status ne 'delete'][if $comment_title ne ''][get param = $comment_title][/if][if $comment_title eq '']（無題）[/if][/if]
  </h3>
  <p class = "comment_time">[get_comment_data id = $comment_id;param = date;var = $comment_date][cnv_date_str date = $comment_date;format = "{YYYY}年{MM}月{DD}日{WW}"] [get_comment_data id = $comment_id;param = time;var = $comment_time][cnv_time_str time = $comment_time;format = "{tt}{hh}時{mm}分{ss}秒"]</p>
  <p>&nbsp;-&nbsp;[get_comment_data id = $comment_id;param = user_id;var = $comment_user_id][if $comment_user_id ne '']<a href = "[get_blog_url user_id = $comment_user_id]">[/if][get_comment_data id = $comment_id;param = name][if $comment_user_id ne '']</a>[/if]</p>
</div>

<div class = "comment_main">
  [if $status ne 'delete']
    [get_comment_data id = $comment_id;param = text;var = $comment_text;parse = 'comment']
    [cnv_text_str text = $comment_text;format = "<p>{line}<br /></p>"]
  [/if]
</div>

<div class = "comment_footer">
  [if $status ne 'delete']
    [get_comment_data id = $comment_id;param = url;var = $url]
    [if $url ne '']
      <p>URL:<a href = "[get param = $url]">[get param = $url]</a></p>
    [/if]
  [/if]
</div>
