[get_comment_data id = $comment_id;param = no;var = $comment_no]

<div class = "comment_title">
  [get_comment_data id = $comment_id;param = title;var = $comment_title]
  <h3 class = "comment_title">[get param = $comment_no]:[if $comment_title ne ''][get param = $comment_title][/if][if $comment_title eq '']（無題）[/if]</h3>
  <p class = "comment_time">[get_comment_data id = $comment_id;param = date;var = $comment_date][cnv_date_str date = $comment_date;format = "{YYYY}年{MM}月{DD}日{WW}"] [get_comment_data id = $comment_id;param = time;var = $comment_time][cnv_time_str time = $comment_time;format = "{tt}{hh}時{mm}分{ss}秒"]</p>
  <p>&nbsp;-&nbsp;[get_comment_data id = $comment_id;param = user_id;var = $comment_user_id][if $comment_user_id ne '']<a href = "[get_blog_url user_id = $comment_user_id]">[/if][get_comment_data id = $comment_id;param = name][if $comment_user_id ne '']</a>[/if]</p>
</div>

<div class = "comment_main">
  [get_comment_data id = $comment_id;param = text;var = $comment_text;parse = 'comment']
  [cnv_text_str text = $comment_text;format = "<p>{line}<br /></p>"]
</div>

<div class = "comment_footer">
  [get_comment_data id = $comment_id;param = url;var = $url]
  [if $url ne '']
    <p>URL:<a href = "[get param = $url]">[get param = $url]</a></p>
  [/if]
</div>
