[repeat num = $comment_num]
  [fetch_comment_id var = $comment_id]
  [if $comment_id ne '']
    [get_comment_data id = $comment_id;param = status;var = $status]
    <div class = "comment">
      <a name = "#comment_[get_comment_data id = $comment_id;param = no]"></a>
      [include file = "template/comment_admin_item_template.html"]
    </div>
    
    [push param = $comment_id]
    [push param = $parent_id]
    [push_comment_list]
    [var_set var = $parent_id;param = $comment_id]
    [init_comment_list entry_id = $entry_id;parent_id = $parent_id]
    [get_comment_num var = $comment_num]
    [if $comment_num > 0]
      <div class = "comment_sub">
        [include file = "template/comment_admin_tree_template.html"]
      </div>
    [/if]
    [pop_comment_list]
    [pop var = $parent_id]
    [pop var = $comment_id]
    [get_comment_num var = $comment_num]
  [/if]
[/repeat]
