<div class = "entry_title">
  <h2 class = "entry_title"><a class = "entry_title" href = "[get_blog_url id = $entry_id]">[get_entry_data id = $entry_id;param = title]</a></h2>
</div>

<div class = "entry_header">
  <p class = "entry_header">
    [get_entry_data id = $entry_id;param = date;var = $entry_date][cnv_date_str date = $entry_date;format = "{YYYY}年{MM}月{DD}日{WW}"] [get_entry_data id = $entry_id;param = time;var = $entry_time][cnv_time_str time = $entry_time;format = "{tt}{hh}時{mm}分{ss}秒"]
    |
    [get_entry_data id = $entry_id;param = category_id;var = $entry_category_num]
    [if $entry_category_num > 0]
      [var_set var = $entry_category_flag;param = 0]
      [var_set var = $entry_category_no;param = 0]
      カテゴリ: [repeat num = $entry_category_num][get_entry_data id = $entry_id;param = category_id{$entry_category_no};var = $entry_category_id][get_category_data id = $entry_category_id;param = name;var = $entry_category_name][if $entry_category_name ne ''][if $entry_category_flag != 0], [/if]<a href = "[get_blog_url category_id = $entry_category_id]">[get param = $entry_category_name]</a>[var_set var = $entry_category_flag;param = 1][/if][var_calc var = $entry_category_no;param = 1;type = add][/repeat]
    [/if]
    [if $entry_category_num == 0]
      カテゴリ: なし
    [/if]
  </p>
</div>

<div class = "entry_main clearfix">
  [var_set var = $parse_permission;param = 'entry']
  [if $list_view == 1]
    [var_set var = $parse_permission;param = 'entry_brief']
  [/if]
  [get_entry_data id = $entry_id;param = text;var = $entry_text;parse = $parse_permission]
  [cnv_text_str text = $entry_text;format = "<p>{line}<br /></p>"]
</div>

[if $list_view != 1]
<div class = "entry_footer">
  [get_entry_data id = $entry_id;param = tag;var = $entry_tag_num]
  [if $entry_tag_num > 0]
    [var_set var = $entry_tag_flag;param = 0]
    [var_set var = $entry_tag_no;param = 0]
    <p>タグ: [repeat num = $entry_tag_num][get_entry_data id = $entry_id;param = tag{$entry_tag_no};var = $entry_tag][if $entry_tag_flag != 0], [/if]<a href = "[get_blog_url tag = $entry_tag]">[get param = $entry_tag]</a>[var_calc var = $entry_tag_no;param = 1;type = add][var_set var = $entry_tag_flag;param = 1][/repeat]</p>
  [/if]
</div>
[/if]
