<div class = "header_menu">
  <form action = "[get param = this_cgi]" method = "get" class = "header_menu">
    <input type = "hidden" name = "mode" value = "entry_edit">
    <input type = "submit" value = "エントリ作成・編集" class = "button">
  </form>
  <form action = "[get param = this_cgi]" method = "get" class = "header_menu">
    <input type = "hidden" name = "mode" value = "comment_admin">
    <input type = "submit" value = "コメント管理" class = "button">
  </form>
  <form action = "[get param = this_cgi]" method = "get" class = "header_menu">
    <input type = "hidden" name = "mode" value = "file">
    <input type = "submit" value = "ファイル管理" class = "button">
  </form>
  <form action = "[get param = this_cgi]" method = "get" class = "header_menu">
    <input type = "hidden" name = "mode" value = "category">
    <input type = "submit" value = "カテゴリ編集" class = "button">
  </form>
  <form action = "[get param = this_cgi]" method = "get" class = "header_menu">
    <input type = "hidden" name = "mode" value = "account">
    <input type = "submit" value = "アカウント管理" class = "button">
  </form>
  <form action = "[get param = this_cgi]" method = "get" class = "header_menu">
    <input type = "hidden" name = "mode" value = "log">
    <input type = "submit" value = "ログ管理" class = "button">
  </form>
  <form action = "[get param = this_cgi]" method = "get" class = "header_menu_right">
    <input type = "hidden" name = "mode" value = "logout">
    <input type = "submit" value = "ログアウト" class = "button">
  </form>
  <form action = "[get param = this_cgi]" method = "get" class = "header_menu_right">
    <input type = "submit" value = "Blogトップ" class = "button">
  </form>
  <p style = "clear:both;"></p>
</div>
