*
{
	padding:0px;
	margin:0px;
}

body
{
	background-color:#ffffff;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic', sans-serif;
	font-size:0.9em;
	color:#000000;
	padding:0px;
	margin:0px;
}

p
{
	line-height:1.3em;
}

input
{
	margin:0em 0.25em 0em 0.25em;
}

input.button
{
	padding:0em 0.5em 0em 0.5em;
}

div.system_msg
{
	background-color:#cccccc;
	border:solid 1px #999999;
	padding:1em;
	margin-bottom:1em;
}

div.entry
{
	border:solid 1px #999999;
	padding:1em;
	margin-bottom:1em;
	overflow:auto;
}

div.entry_title
{
	border-bottom:solid 2px #999999;
	margin-bottom:2px;
}

h2.entry_title
{
}

a.entry_title
{
	color:#999999;
	text-decoration:none;
}

a.entry_title:hover
{
	color:#999999;
	text-decoration:underline;
}

span.entry_author
{
	font-size:0.70em;
	font-weight:normal;
}

a.entry_author
{
	color:#999999;
	text-decoration:none;
}

a.entry_author:hover
{
	color:#999999;
	text-decoration:underline;
}

div.entry_header
{
	padding-bottom:0.5em;
}

p.entry_header
{
	text-align:right;
	font-size:0.90em;
}

div.entry_main
{
	padding:0em 0em 0em 0em;
	margin:0em 0em 0em 0em;
}

div.entry_footer
{
	text-align:right;
	font-size:0.90em;
}

div.comment_notes
{
	font-size:0.90em;
	padding:1em 1em 1em 1em;
	margin:1em 1em 0em 1em;
	border:dotted 1px #000000;
	background-color:#cccccc;
}

div.comment_form
{
	padding:1em 0em 0.5em 0em;
}

div.comment_sub
{
	padding-left:2em;
}

div.comment
{
	border-top:dotted 1px #999999;
	padding:1em;
}

div.comment_nodisp
{
}

div.comment_title
{
	border-bottom:solid 2px #999999;
	margin-bottom:0.5em;
}

h3.comment_title
{
	float:left;
	position:relative;
	bottom:0.2em;
}

p.comment_time
{
	float:right;
	font-size:0.90em;
}

div.comment_header
{
	text-align:right;
	font-size:0.90em;
}

div.comment_footer
{
	font-size:0.90em;
}

div.comment_admin_form
{
	float:left;
}

input.comment_admin_button
{
	padding:0em 0.5em 0em 0.5em;
	position:relative;
	bottom:2px;
}

div.caption
{
	background-color:#808080;
	color:#ffffff;
	line-height:1.5em;
	padding:0em 1em 0em 1em;
	font-weight:bold;
}

div.part
{
	padding:0em 1em 1em 1em;
}

p.recent_entry
{
	/* 文字列を折り返さずに省略形(…)で表示するための設定 */
	width:12em;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-text-overflow:ellipsis;		/* Safari用 */
	-o-text-overflow:ellipsis		/* Opera用 */
}

p.recent_comment
{
	/* 文字列を折り返さずに省略形(…)で表示するための設定 */
	width:12em;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-text-overflow:ellipsis;		/* Safari用 */
	-o-text-overflow:ellipsis		/* Opera用 */
}

h4.profile
{
	font-size:0.90em;
	text-decoration:underline;
}

p.profile
{
	font-size:0.90em;
}

div.form
{
	padding:0em 1em 0.5em 1em;
}

div.search_form
{
	padding:0.5em 0em 0em 0em;
}

div.calender_caption
{
	text-align:center;
}

span.calender_prev
{
	float:left;
}

span.calender_prev_disable
{
	color:#aaaaaa;
	float:left;
}

span.calender_next
{
	float:right;
}

span.calender_next_disable
{
	color:#aaaaaa;
	float:right;
}

span.calender_title
{
}

table.list
{
	border:solid 2px #808080;
	border-collapse:collapse;
}

tr.list
{
	padding:0em 0em 0em 0em;
	margin:0em 0em 0em 0em;
}

th.list
{
	border:solid 1px #808080;
	background-color:#808080;
	color:#ffffff;
	padding:0.25em 0.25em 0.25em 0.25em;
	margin:0em 0em 0em 0em;
}

td.list
{
	border:solid 1px #808080;
	padding:0.25em 0.25em 0.25em 0.25em;
	margin:0em 0em 0em 0em;
}

code.list
{
}

var.tag_list_param
{
	color:#8080ff;
	font-weight:bold;
}

var.tag_list_select
{
	color:#80cc80;
	font-weight:bold;
}

table.account
{
	border:solid 2px #808080;
	border-collapse:collapse;
}

tr.account
{
	padding:0em 0em 0em 0em;
	margin:0em 0em 0em 0em;
}

th.account
{
	border:solid 1px #808080;
	background-color:#808080;
	color:#ffffff;
	padding:0.25em 0.25em 0.25em 0.25em;
	margin:0em 0em 0em 0em;
}

td.account
{
	border:solid 1px #808080;
	padding:0.25em 0.25em 0.25em 0.25em;
	margin:0em 0em 0em 0em;
}

#wrapper
{
/* 	background-color:#808080;
 */	width:100%;
	margin:auto;
}

#header
{
	background-color:#333333;
	color:#bbbbbb;
	padding:1em 1em 1em 1em;
}

a#blog_title
{
	color:inherit;
	text-decoration:none;
}

div.header_line
{
	text-align:right;
	padding:0px 0px 3px 0px;
}

form.header_line
{
	float:right;
}

div.header_menu
{
	text-align:left;
	padding:0px 0px 3px 0px;
}

form.header_menu
{
	float:left;
}

form.header_menu_right
{
	float:right;
}

#left
{
	float:left;
	width:14em;
	padding:1em 0em 1em 1em;
/* 	background-color:#9999cc;
 */
}

#right
{
	float:right;
	width:14em;
	padding:1em 1em 1em 0em;
/* 	background-color:#99cc99;
 */
}

#container
{
	margin-left:15em;
 	margin-right:15em;
}

#main
{
	padding:1em 1em 1em 1em;
/* 	background-color:#99cccc;
 */
}

#prev_next
{
	padding:1em;
	text-align:center;
}

#footer
{
	background-color:#333333;
	color:#bbbbbb;
	clear:both;
	text-align:center;
	padding:1em;
}

/* floatによる回り込みを自動的に解除 */
.clearfix:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix
{
	display: inline-block;
}
