p.file_link
{
	line-height:1.5em;
	font-style:oblique;
}

blockquote.default
{
	margin:1em 1em 0em 1em;
	padding:1em 1em 1em 1em;
	border:solid 1px #999999;
}

code.code
{
	font-family:"Courier New", monospace;
}

table.code
{
	margin:1em 1em 0em 1em;
	padding:0.5em 0.5em 0.5em 0.5em;
	border:solid 1px #999999;
	background-color:#cccccc;
	border-collapse:collapse;
}

tr.code
{
}

th.code
{
	padding:0.0em 0.5em 0.0em 0.5em;
	width:3em;
	border:solid 1px #999999;
	background-color:#eeeeee;
	font-weight:normal;
	text-align:right;
}

td.code
{
	padding:0.0em 0.5em 0.0em 0.5em;
	white-space:pre-wrap;
}

h2.entry_head
{
	font-size:1em;
	border-left:solid 8px #999999;
	border-bottom:solid 2px #999999;
	background-color:#dddddd;
	padding:0.25em 0.25em 0.25em 0.25em;
}

ul
{
	margin-top:0.25em;
	margin-left:1em;
	margin-bottom:0.25em;
}

ol
{
	margin-top:0.25em;
	margin-left:1.5em;
	margin-bottom:0.25em;
}
